.admin-cart{

padding:30px;

}

table{

width:100%;

border-collapse:collapse;

background:#fff;

border-radius:16px;

overflow:hidden;

}

th{

background:#8B0F45;

color:#fff;

padding:15px;

}

td{

padding:15px;

border-bottom:1px solid #eee;

}

button{

padding:8px 16px;

border:none;

border-radius:10px;

cursor:pointer;

margin-right:6px;

background:#8B0F45;

color:#fff;

}

.cart-item{

display:flex;

gap:20px;

padding:20px;

margin-top:20px;

background:#fff;

border-radius:18px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.cart-item img{

width:110px;

height:130px;

object-fit:cover;

border-radius:12px;

}