*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#f5f5f5;

}

.admin{

padding:60px 20px;

display:flex;

justify-content:center;

}

.admin-card{

width:700px;

background:#fff;

padding:40px;

border-radius:15px;

box-shadow:0 5px 25px rgba(0,0,0,.08);

}

.admin-card h1{

margin-bottom:30px;

text-align:center;

}

#productForm{

display:grid;

gap:18px;

}

input,
textarea{

padding:14px;

border:1px solid #ddd;

border-radius:8px;

font-size:15px;

}

textarea{

height:130px;

resize:none;

}

.checks{

display:flex;

gap:25px;

}

button{

padding:15px;

border:none;

background:#852727;

color:white;

font-size:16px;

border-radius:8px;

cursor:pointer;

}

button:hover{

background:#651a24;

}

