.footer{
    background:#000;
    color:white;
    padding:60px 20px;
}

.footer-grid{
    max-width:1400px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

.footer a{
    display:block;
    color:#ddd;
    text-decoration:none;
    margin-top:10px;
}