*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

.nav-links a{

position:relative;

}

.nav-links a::after{

content:"";

position:absolute;

left:0;

bottom:-6px;

width:0;

height:2px;

background:#D4AF37;

transition:.3s;

}

.nav-links a:hover::after{

width:100%;

}

.navbar{
    height: 80px;
    
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background:linear-gradient(#cd104d, #9e0938);
    position:sticky;
    top:0;
    z-index:999;
    width:100%;
}

.nav-container{
    max-width:1400px;
    margin:auto;
    padding:15px 25px;

    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo{
    display: flex;
    align-items: center;
    color:white;
    text-decoration:none;
    font-size:28px;
    font-weight:700;
}

.logo img{
    width: auto;
    height: 70px;
    display: block;
    object-fit: contain;
    transition: 0.3s ease;
}

.logo image:hover{
    transform: scale(1.05);
}

.nav-links{
    list-style:none;
    display:flex;
    gap:25px;
}

.nav-links a{
    position: relative;
    text-decoration:none;
    color:white;
    font-size:17px;
}

.nav-icons{
    display:flex;
    gap:18px;
    align-items:center;
}

.nav-icons a,
.search-icon{
    color:white;
    font-size:18px;
    text-decoration:none;
    cursor:pointer;
}

.hamburger{
    display:none;
    color:white;
    font-size:24px;
    cursor:pointer;
}

.mobile-menu{
    display:none;
    flex-direction:column;
    background:white;
}

.mobile-menu a{
    padding:15px;
    text-decoration:none;
    color:black;
    border-bottom:1px solid #eee;
}

.mobile-menu.active{
    display:flex;
}