@media(max-width:1200px){

    .hero-content h1{
        font-size:70px;
    }
     .category-grid{
        grid-template-columns:repeat(2,1fr);
    }
      .products-grid{
        grid-template-columns:repeat(3,1fr);
    }
  
}

@media(max-width:992px){

    .nav-links{
        display:none;
    }

    .hamburger{
        display:block;
    }

    .products-grid{
        grid-template-columns:repeat(2,1fr);
      
    }

    .hero-content h1{
        font-size:55px;
    }

     .features-grid{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:768px){

    .hero{
        height:70vh;
        background-position:center center;
    }

    .hero-content{
        text-align:center;
        padding:0 20px;
    }

    .hero-content h1{
        font-size:42px;
    }

    .hero-content p{
        font-size:15px;
        max-width:100%;
    }

    .hero-btn{
        padding:12px 28px;
        font-size:14px;
    }
    .category-grid{
        grid-template-columns:1fr;
    }

    .products-grid{
        grid-template-columns:1fr;
    }

    .features-grid{
        grid-template-columns:1fr;
    }

    .product-card{
        max-width:400px;
        margin:auto;
    
    }
     .category-card img{
        height:320px;
    }

      .top-bar{
        height:36px;
    }

     .product-image img{
        height:350px;
}
 .features-grid{
        grid-template-columns:repeat(1fr);
    }
}

@media(max-width:480px){

    .hero-content h1{
        font-size:34px;
    }

        .category-card img{
        height:280px;
    }

    .section-title h2{
        font-size:30px;
    }

}