body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#d4145a,#8c0833);

font-family:Poppins,sans-serif;

}

.success-box{

width:90%;

max-width:380px;

background:#fff;

padding:35px;

border-radius:25px;

text-align:center;

box-shadow:0 20px 60px rgba(0,0,0,.25);

}

.logo{

width:130px;

animation:spin 8s linear infinite;

}

@keyframes spin{

100%{

transform:rotate(360deg);

}

}

h1{

margin:20px 0 10px;

color:#d4145a;

}

p{

color:#666;

margin-bottom:30px;

}

button{

width:100%;

padding:16px;

margin-top:15px;

border:none;

border-radius:50px;

font-size:17px;

cursor:pointer;

}

#playBtn{

background:#d4145a;

color:#fff;

}

#skipBtn{

background:#eee;

}